/*=============== VARIABLES CSS ===============*/
    $header-height: 3.5rem;

/*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    /* 
        Change favorite color
        Default: hsl(255, 90%, 60%)
        Orange: hsl(14, 90%, 60%) - Blue: hsl(210, 90%, 50%)
        Pink: hsl(356, 100%, 65%) - Green: hsl(162, 90%, 40%)

        For more colors visit: https://colors.dopely.top/color-pedia
        -> Choose any color 
        -> Click on tab (Color Conversion)
        -> Copy the color mode (HSL)
    */
    $first-color: #65B5F7;
    $first-color-alt: #84C4F9;
    $first-color-light: #A3D3FA;
    $title-color: black;
    $text-color: #5F7485;
    $text-color-light: #808080;
    $white-color: white;
    $body-color: white;
    $container-color: white;
    $shadow-color: hsla(210, 90%, 30%, 0.1);
    $Shadow-button: rgba(0, 0, 0, 0.2) 0px 8px 24px;

/*========== Font and typography ==========*/
    $body-font: "Syne", sans-serif;
    $biggest-font-size: 2rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $h3-font-size: 1rem;
    $normal-font-size: 0.938rem;
    $small-font-size: 0.813rem;
    $smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
    $font-regular: 400;
    $font-medium: 500;
    $font-semi-bold: 600;

/*========== z index ==========*/
    $z-tooltip: 10;
    $z-fixed: 100;
    $z-modal: 1000;

/*========== Responsive typography ==========*/
    @media screen and (min-width: 1150px) {
        $biggest-font-size: 4.5rem;
        $h1-font-size: 2.25rem;
        $h2-font-size: 1.5rem;
        $h3-font-size: 1.25rem;
        $normal-font-size: 1.125rem;
        $small-font-size: 0.875rem;
        $smaller-font-size: 0.813rem;
    }

/*========== Screen width for "media queries" ==========*/
    $mobile-width: 375px;
    $tablet-width: 768px;
    $desktop-width: 1024px;